<a href="https://colab.research.google.com/github/Aishwarya-ps-kumbla/MST_Aish_practice_problems_01/blob/main/MST_Aish_pp02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#1. Write a program to find sum of all elements in a list of integers.
list1 = []

n = int(input("Enter number of elements in the list: "))

for i in range(n):
    num = int(input())
    list1.append(num)

print(list1)

sum=0
for j in range(n):
 sum=sum+list1[j]
print("Sum of elements=",sum)

Enter number of elements in the list: 5
8
10
12
100
6
[8, 10, 12, 100, 6]
Sum of elements= 136

In [9]:
'''2. Input a sentence as a string.
a) Print its length
b) Print the first half of string'''

string=input('Enter the string ')
l=len(string)
print('length= ',l)
h=l//2
print('First half of string= ',string[:h])

Enter the string Hello Python
length=  12
First half of string=  Hello

In [10]:
'''3. Write a program to enter a tuple of integers as (78,45,32,19,82,77,40,39).Change the third value in the tuple to 100'''

listA = []

n = 8 #given length of tuple

for i in range(n):
    num = int(input())
    listA.append(num)

t1=tuple(listA)
print('Tuple:',t1)

listA[2]=100
t1=tuple(listA)
print('New tuple:',t1)

78
45
32
19
82
77
40
39
Tuple: (78, 45, 32, 19, 82, 77, 40, 39)
New tuple: (78, 45, 100, 19, 82, 77, 40, 39)

In [12]:
#4. Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]

listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
print(listA)

#(a) Delete the first occurrence of 32
listA.remove(32)
print(listA)

#(b) Delete all occurrences of 40
c=listA.count(40)
for i in range(c):
  if c!=0:
    listA.remove(40)
print(listA)

#(c) Delete the value at index=5
del listA[5]
print(listA)

#(d) Modify the value at index=9 as 300
listA.append(300)
print(listA)

#(e) Add 200 at index=2
listA.insert(2,200)
print(listA)

#(f) Print the final list with its length, maximum value and sum of all elements
print('Final list=',listA)
l=len(listA)
print('Length of listA= ',l)
import math
m= max(listA)
print('Maximum value=',m)
s=0
for i in range(l):
  s= s + listA[i]
print('Sum of all elements=',s)

[19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
[19, 10, 55, 31, 32, 94, 29, 10, 65, 77]
[19, 10, 55, 31, 32, 29, 10, 65, 77]
[19, 10, 55, 31, 32, 29, 10, 65, 77, 300]
[19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300]
Final list= [19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300]
Length of listA=  11
Maximum value= 300
Sum of all elements= 828

In [14]:
#5. Consider a string ”The day has been long”.
#(a) Delete the value at index =4
string2="The day has been long"
print(string2)
string2=string2[:4]+string2[5:]
print(string2)

#(b) Print the string 4 times in a single line with space between each repetition
print(string2+" "+string2+" "+string2+" "+string2)

#(c) Print the string 3 times in a new line each time
print(string2+"\n"+string2+"\n"+string2)

#(d) Modify the string at index 7 as ’A’
string2=string2[:7]+'A'+string2[8:]
print(string2)

#(e) Print the string from index 4 to 15
print(string2[4:16])

#(f) Print the final string with its length
print('Final string is:',string2)
l=len(string2)
print('Length of the string is',l)

The day has been long
The ay has been long
The ay has been long The ay has been long The ay has been long The ay has been long
The ay has been long
The ay has been long
The ay has been long
The ay Aas been long
ay Aas been
Final string is: The ay Aas been long
Length of the string is 20